body {
  font-family: sans-serif;
  min-height: 100vh;
  display: grid;
}

#app {
  align-self: center;
  justify-self: center;

  display: flex;
  flex-flow: column;
}

#app h1 {
  text-align: center;
  color: #797979;
}

#app form input {
  text-align: center;
}

form {
  display: grid;
  grid-row-gap: 1em;
  grid-template: "url url"
                 "alias alias"
                 "expiration expiration"
                 "date time"
                 "submit submit";
}

input#url {
  grid-area: url;
}

input#alias {
  grid-area: alias;
}

small.expiration {
  grid-area: expiration;
  margin-bottom: -0.5em;
}

input#date {
  grid-area: date;
}

input#time {
  grid-area: time;
  margin-left: 1em;
}

input#submit {
  grid-area: submit;
}

form label {
  display: flex;
  flex-flow: column;
}

#app .output {
  color: white;
  font-family: sans-serif;
  font-size: smaller;
  text-align: center;
  padding: 0.3em 0.5em;
  margin-top: 1.5em;
  border-radius: 5px;
}

#app .error {
  background-color: #c4342d;
}

#app .success {
  background-color: #28a9af;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#app .success a {
  color: inherit;
  text-decoration: none;
}

#app .success .short-url {
  flex: 1;
}

#app .success svg {
  fill: #e1f1f1;
  cursor: pointer;
}

[v-if] {
  display: none;
}
